# Ignore everything
*

# But don't ignore the backend folder and its contents
!backend/
!backend/*
!backend/**/*

# Ignore Python specific files
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/
backend/.env

# Just to be extra safe, explicitly ignore frontend
frontend/
frontend/node_modules/